<!--
/* **************************************************************************************************/
/* タブメニュー用 ***********************************************************************************/
/* **************************************************************************************************/

/* ▼(A)表示領域全体 */
div.tabbox {
	margin				: 0px;
	padding				: 0px;
	width				: 1325px;
}

/* ▼(B)タブ部分 */
p.tabs {
	margin				: 0px;
	padding				: 0px;
}
p.tabs a {
	/* ▼(B-2)リンクをタブのように見せる */
	display				: block;
	width				: 130px;
	height				: 15px;
	float				: left;
	margin				: 0px 1px 0px 0px;
	padding				: 3px;
	text-align			: center;
	border-radius		: 12px 12px 0px 0px; /* 角を丸くする */
}
/* タブ */
p.tabs a.acttab {
	background-color	: gray;
	color				: white;
}
p.tabs a.nonacttab {
	background-color	: silver;
	color				: blue;
}
p.tabs a:hover {
	color				: yellow; 
}

/* ボックス */
div.box {
	height				: 195px;
	overflow			: auto;
	clear				: left;
	border				: 2px solid gray;
}
div.box p { 
	margin				: 0.5em; 
}
-->